<div id="home-page-banner" class="home-page-banner carousel slide mt-1 mx-0 mx-md-1" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for banner in banners %}
            {% if forloop.first %}
            {% comment %} added active class for  first element {% endcomment %}
            <button type="button" data-bs-target="#home-page-banner" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true"
            aria-label="Slide {{ forloop.counter }}"></button>

            {% else %}
            <button type="button" data-bs-target="#home-page-banner" data-bs-slide-to="{{ forloop.counter0 }}"aria-current="true"
            aria-label="Slide {{ forloop.counter }}"></button>

            {% endif %}
            
        {% endfor %}
    
    </div>
    <div class="carousel-inner">
            {% for banner in banners %}
            {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="3000">
            {% else %}
                <div class="carousel-item" data-bs-interval="2000">
            {% endif %}
                <a href="/{{ banner.link }}">
                    <img src="{{ banner.image }}" class="banner-img" alt="...">
                </a>
            </div>
                
            {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#home-page-banner"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home-page-banner"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>