<div class="nav-second navbar-expand-md">
    <div class="container-fluid pb-1 ">
        <div class="collapse multi-collapse collapse-horizontal navbar-collapse" id="nav-second-collapse">

            <nav class="nav" style="width: 100%;">

                <!-- <a class="nav-second-link" href="#">link0</a>
                <a class="nav-second-link" href="#">Link1gksagaaga</a>
                <a class="nav-second-link" href="#">Link21pk</a>
                <a class="nav-second-link">link3jajf</a>
                <a class="nav-second-link">link4</a>
                <a class="nav-second-link">link5ss</a> -->
                <a href="#" role="button" class="nav-second-link" data-bs-toggle="modal" data-bs-target="#side-slide">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    stroke-width="2" style="width: 1.2rem; height:1.2rem;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                </a>

                {% for link in navlinks %}

                <a class="nav-second-link" href="{{ link.link }}">
                    {{ link.text }}
                </a>

                {% endfor %}


            </nav>
        </div>
    </div>

</div>