<div class="menu-container modal" id="side-slide" tabindex="-1">
  <button class="close-menu-btn" type="button" data-bs-dismiss="modal">
    <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height: 2.5rem; width: 2.5rem;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="menu-canvas modal-dialog">
    <div class="menu-content modal-content">
      <div class="header ">
        <h4 class="company-name">APHARMA.in </h4>
        <h5>UserAccount</h5>
        <span> login-out</span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>